.App {
    min-height: 100vh;
    width: 100%;
    background: var(--background-gradient);
    background-size: auto, cover;
}

header {
    height: fit-content;
    width: calc(100% - 80px);
    padding-block: 20px;
    padding-inline: 40px;
    border-top: 2px solid var(--color-accent2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    text-align: center;
    padding: 10px;
    margin: 0;
}

h1, h2 {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-size: 38px;
}