.App {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    background: var(--background-gradient);
    background-size: auto, cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.AppHeader {
    position: fixed;
    top: 0;
    height: fit-content;
    width: calc(100% - 80px);
    padding-block: 20px;
    padding-inline: 40px;
    border-top: 2px solid var(--color-accent2);
    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: 0.25s ease;

    &.scrolled {
        background: rgba(0,0,0,0.25);
        backdrop-filter: blur(6px);
        box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    }
}

.AppFooter {
    padding: 10px;
    color: var(--color-text2);
    font-size: 0.9em;
    font-style: italic;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-shrink: 0;
}

h1 {
    text-align: center;
    padding: 10px;
    margin: 0;
    font-weight: 500;
    font-size: 38px;
}

h2 {
    font-weight: 400;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

h3 {
    text-align: left;
    padding: 0;
    margin: 0;
    width: 100%;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.1);
    padding-bottom: 3px;
}

p {
    margin: 0;
    width: 99%;
    margin-bottom: 16px;
}