#root {
    font-family: "Kanit", sans-serif;
    font-size: 14px;
    font-weight: 200;

    color-scheme: light dark;
    color: var(--color-text);
    //background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    image-rendering: crisp-edges;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root, html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Global style vars for global css changes
#root {
    --color-main: #0A0E14;
    --color-secondary: #0D1218;
    --color-tertiary: rgba(50, 50, 50, 0.5);
    --color-text: rgb(255, 254, 238);
    --color-text2: rgb(201, 201, 201);
    --border-main: 1px solid #11161F;
    --border-secondary: 1px solid rgba(255, 255, 255, 0.1);
    --border-optional: none;
    --icon-color: invert(1);
    --input-color-placeholder: rgba(255, 255, 255, 0.12);
    --color-accent1: #124F8B;
    --color-accent2: #C52329;

    --site-logo: url(/apollo-logo-trans-dark.png);

    --background-gradient: #0A0E14;

    // --background-gradient: 
    //     /* Muted red mist (barely visible) */
    //     radial-gradient(
    //     circle at 80% 20%,
    //     rgba(197, 35, 41, 0.06),
    //     transparent 55%
    //     ),

    //     /* Muted purple bloom */
    //     radial-gradient(
    //     circle at 20% 80%,
    //     rgba(150, 120, 255, 0.05),
    //     transparent 60%
    //     ),

    //     /* Deep muted blue glow */
    //     radial-gradient(
    //     circle at 30% 30%,
    //     rgba(18, 79, 139, 0.08),
    //     transparent 65%
    //     ),

    //     /* Main gradient (dark gray dominated) */
    //     linear-gradient(
    //     135deg,
    //     #1B1D1E 0%,
    //     #1E2225 35%,
    //     #21262A 80%,
    //     #1B1D1E 100%
    //     );
}

#root.LightMode {
    --color-main: #ffffff;
    --color-secondary: rgb(255, 255, 255);
    --color-tertiary: rgba(190, 190, 190, 0.5);
    --color-text: #282828;
    --color-text2: rgb(55, 55, 55);
    --border-main: 1px solid rgba(0, 0, 0, 0.05);
    --border-secondary: 1px solid rgba(0, 0, 0, 0.1);
    --border-optional: 1px solid rgba(0, 0, 0, 0.05);
    --icon-color: invert(0);
    --input-color-placeholder: rgba(0, 0, 0, 0.2);

    --site-logo: url(/apollo-logo-trans-light.png);

    --background-gradient: white;

    // --background-gradient: 
    //     /* Soft red mist (very subtle) */
    //     radial-gradient(
    //     circle at 80% 20%,
    //     rgba(197, 35, 41, 0.05),
    //     transparent 55%
    //     ),

    //     /* Soft purple bloom */
    //     radial-gradient(
    //     circle at 20% 80%,
    //     rgba(150, 120, 255, 0.04),
    //     transparent 60%
    //     ),

    //     /* Soft blue glow */
    //     radial-gradient(
    //     circle at 30% 30%,
    //     rgba(18, 79, 139, 0.06),
    //     transparent 65%
    //     ),

    //     /* Main gradient (light gray dominated) */
    //     linear-gradient(
    //     135deg,
    //     #f8f8f8 0%,
    //     #e6e7e8 35%,
    //     #dadcde 80%,
    //     #f8f8f8 100%
    //     );
}

