.OutputPage {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 92px;
    justify-content: center;
    align-items: center;
}

.OutputArea {
    background-color: var(--color-secondary);
    border: var(--border-main);
    padding: 10px;
    border-radius: 5px;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.OutputArea > pre {
    overflow-x: auto;
    overflow-y: auto;
    display: block;
}