.SingleBriefPage {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 92px;
    justify-content: center;
    align-items: center;
}

.FormArea {
    width: 72%;
    height: 800px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--color-secondary);
    border-radius: 5px;
    padding: 20px;
}

.OpenerInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.DateContainer {
    padding-block: 8px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.EditableDate {
    margin: 0;
    font-family: "Kanit" sans-serif;
    color: var(--color-text);
    cursor: pointer;
    padding-inline: 5px;
    height: 36.8px;
    width: fit-content;
    background-color: var(--color-secondary);
    border-radius: 4px;
    border: none;
    outline: none;
}

.ConfirmSelection {
    height: 20px;
    aspect-ratio: 1/1;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(/check-mark.png);
    filter: var(--icon-color);
    background-size: 100% 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: filter 0.3s ease;
}

.ConfirmSelection:hover {
    filter: invert(72%) sepia(32%) saturate(450%) hue-rotate(75deg) brightness(95%);
}