.StartPage {
    height: 100%;
    width: 100%;
}

.NavTop {
    height: 50px;
    width: 100%;
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Icon {
    height: 30px;
    aspect-ratio: 1/1;
    filter: invert(1)
}