.StartPage {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 92px;
}

.StartContent {
    height: fit-content;
    width: 90%;
    max-width: 800px;
    padding: 10px 20px 20px 20px;
    background-color: var(--color-main);
    border: var(--border-main);
    align-self: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.FeatureGrid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.FeatureGridRow {
    max-width: 330px;
    display: flex;
    justify-content: center;
    gap: 16px;
    flex: 1 1;
}

.StartButton {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-accent1);
    font-weight: 300;
    font-size: 1.1em;
    font-family: "Kanit", sans-serif;
    cursor: pointer;
    transition: filter 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.StartButton:hover {
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.4);
    filter: brightness(120%);
}

.StartButton:active {
    transform: scale(0.99);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    filter: brightness(90%);
}

