.StartPage {
    height: 100%;
    width: 100%;
}

.Logo {
    height: 50px;
    aspect-ratio: 84/30;
    background-image: var(--site-logo);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}