.AircraftInfo {
    position: relative;
    background-color: var(--color-secondary);
    height: 200px;
    width: 493px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding-block: 10px;
    padding-inline: 20px;
    box-sizing: border-box;
}

.AircraftStatusIndicator {
    position: absolute;
    top: 12.5%;
    left: 20px;
    height: 75%;
    width: 2px;
    border-radius: 3px;
}

.AircraftInfoLabel {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
    width: fit-content;
    margin-top: 10px;
    margin-left: 5px;
    justify-self: start;
    align-self: start;
    width: 100%;
}

.AircraftNameAndTitle {
    display: flex;
    flex-direction: column;
}

.AircraftName {
    font-weight: 400;
    font-size: 1.3em;
    white-space: nowrap;
}

.AircraftSubtitle {
    font-style: italic;
    color: var(--color-text2);
    white-space: nowrap;
}

.AircraftImage {
    position: relative;
    height: 55px;
    aspect-ratio: 1536/1024;
    margin-left: 5px;
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.StatusMenu {
    z-index: 1000;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(50%, 87%);
    background-color: #222223;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.StatusOption {
    padding: 5px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.StatusOption:hover {
    background-color: var(--color-secondary);
}

.StatusColor {
    border-radius: 50%;
    height: 10px;
    aspect-ratio: 1/1;
}

.StatusTitle {
    color: rgb(255, 254, 238);
}

.DetailLabels {
    display: flex;
    flex-direction: column;
    gap: 50Spx;
}

.DetailLabel {
    text-wrap: nowrap;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.DetailLabel.fake {
    visibility: hidden;
}

.AircraftStatusDetails {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 100%;
    width: 100%;
    margin-left: 70px;
    padding: 30px;
    font-weight: 400;
    padding: 10px;
    color: var(--color-text2);
    font-weight: 400;
}

.DetailInputs {
    display: flex;
    flex-direction: column;
}

.Input {
    width: 242px;
    outline: 0;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font: inherit;
    color: inherit;
    resize: none;
    margin: 1px;
    border-radius: 3px;
}

.Input.detail {
    width: 300px;
    background-color: var(--color-secondary);
}

.Input.location {
    width: 140px;
    font-size: 1.2em;
    font-weight: 200;
    background-color: rgba(0,0,0,0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

.multitext {
    flex-grow: 1;
}

.LocationDetailsContainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.LocationIcon {
    height: 25px;
    aspect-ratio: 1/1;
    background-image: url(/location.png);
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    filter: var(--icon-color);
}