.NameAdderComponent {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.SubtitleText {
    padding-block: 8px;
}

.NameEntry {
    margin: 0;
    cursor: pointer;
    padding: 8px;
    background-color: var(--color-secondary);
    border-radius: 4px;
}

.NameEntry:hover {
    text-decoration: underline;
}

.NoTextWrap {
    text-wrap: nowrap;
    align-self: center;
    justify-self: center;
}