.Record {
    position: relative;
    min-height: 42px;
    flex: 0;
    width: 100%;
    border: 0.1px solid rgba(146, 146, 146, 0.02);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-inline: 10px;
    padding: 10px;
    cursor: pointer;
}

.Record:hover {
    background-color: rgba(24, 24, 24, 0.2);
}

.RecordTitle, .ModDate, .ModBy {
    //background-color: red;
    text-indent: 10%;
}