.Record {
    position: relative;
    min-height: 42px;
    flex: 0;
    width: 100%;
    border: var(--border-main);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-inline: 10px;
    padding: 10px;
    cursor: pointer;
}

.Record:hover {
    background-color: var(--color-tertiary);
}

.RecordTitle, .ModDate, .ModBy {
    text-indent: 10%;
}